.footer{
    padding: .5em;
    position: relative;
    display: inline-flex;
}

.rating{
    background-color: #fcd35a;
    padding: 5px;
    display: inline-flex;
    margin: 20px;
}

.price{
    padding: 5px;
    display: inline-flex;
    margin: 20px;
}

.details-card{
height:460px
}
