.details-container{
    background-color: #eeede8;
    width: 100%;
    margin-top: 0px;
    padding-bottom: 10px;
    justify-content: center;
}


.details-flex{
    display: flex;

}

.detail-image,.details-content{
    margin: 30px
}

.details-content{
   width: 60%;
}

.grey-text-2{
    marginRight: 20px;
    marginTop: 5px;
    color: gray;
}

.grey-text-1{
    marginRight: 20px;
    marginTop: 5px;
    color: gray;
}

@media only screen and (max-width: 600px) {
    .detail-image{
        display: block;
        margin-left: 20%;
        margin-top: 0px;
    }

    .details-flex{
        display: block;
        justify-content: center;
        margin-top: 0px;
        padding-top: 10px;

    }
    .details-content{
        display: flex;
        flex-direction: column;
        margin-left: 20%;
    }
    .location{
        margin-left: 25%;
    }
}


.categories-list{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 2px;
}

.foodmenu-section{
    margin: 40px;
    width: 40%;
    min-width: 450px;

}

.row-list{
    margin: 10px 5px 0px;
    display: flex;
}

.row-list>div>div>div{
    display: flex;
}

p{
    padding-left: 5px;
}

.checkout{
    min-width: 450px;
    width: 600px;
    margin: 50px;

}

.menu-container{
    display: flex;
    flex-wrap: wrap;
}

.item-name{
    text-transform:capitalize;
}

.plus-btn:hover{
    cursor: pointer;
    background-color: yellow;
}
.plus-btn{
    font-size: 15px;
}

